@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

:root {
  --radius: 0.625rem;

  --background: var(--color-stone-100);

  --foreground: oklch(0.141 0.005 285.823);
}

.app-root {
  isolation: isolate;
}

post-title {
  display: block;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

figure {
  margin-inline: -16px;
  padding: 16px;

  img {
    margin-block: 0;
    border-radius: 4px;
  }

  figcaption {
    padding: 0;
  }
}
